@import url("../css/reset.css");

:root {
  --colorBeige: rgb(254, 250, 245);
  --colorGold: rgb(220, 193, 106);
  --colorGreenLight: #C2D3C1;
  --colorGreen: #86a784;
  --colorGreenDark: rgb(80, 100, 80);
  --colorGrayLight: rgb(127, 126, 124);
  --colorGrayDark: rgb(72, 70, 68);

  --fontSerif: 'EB Garamond', 'Times New Roman', Times, Georgia, serif;
  --fontSerifStylized: 'Playfair Display', 'Times New Roman', Times, Georgia, serif;
  --fontSansSerif: 'Montserrat', Helvetica, Arial, sans-serif;

  --cubicBezier: cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% {  opacity: 1; }
}

@keyframes fadeUp {
  0% { transform: translateY(60px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeDown {
  0% { transform: translateY(-60px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

html,
body {
  height: 100%;
}

body {
  font-size: 62.5%;
  margin: 0 auto;
  padding: 0;
  background: var(--colorBeige) url('/wedding/images/floral/floral-0.png') center 290px no-repeat fixed;
  color: var(--colorGreenDark);
  font-family: var(--fontSerif);
  -webkit-font-smoothing: antialiased;
}

/* header */
.header {
  text-align: center;
  padding: 100px 0;
  margin: 0 auto;
  outline: none;
}
.header-pre {
  animation: fadeDown 1s var(--cubicBezier) forwards;
}
.header p {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}
.header h1 {
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  margin: 0 auto 30px;
}
.header h1 span {
  font-size: 200%;
  font-family: var(--fontSerifStylized);
  vertical-align: sub;
  color: var(--colorGreen);
}
.header .floral {
  height: 500px;
}
.header-post {
  margin: 0 auto;
  animation: fadeUp 1s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}
.header h2 {
  font-size: 28px;
  font-style: italic;
  text-align: center;
  letter-spacing: 4px;
  margin: 0 auto 40px;
}

/* nav */
.nav {
  position: fixed;
  left: 50px;
  top: 50px;
  animation: fadeIn 2s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
  z-index: 100;
}
.nav a {
  display: block;
  font-family: var(--fontSerif);
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
  margin: 0 0 10px;
  padding: 10px;
  color: var(--colorGreenDark);
  border-bottom: 1px solid transparent;
  transition: all 0.2s var(--cubicBezier);
}
.nav a:hover {
  border-color: var(--colorGreen);
}

/* section */
.section {
  outline: none;
  text-align: center;
  background: var(--colorBeige);
  color: var(--colorGreenDark);
}
.section.inverse,
.inverse {
  background: var(--colorGreenLight);
}
.section h3 {
  padding: 100px 0;
  margin: 0 auto; 
  font-size: 44px;
  letter-spacing: 6px;
}
.section p {
  width: 660px;
  font-size: 14px;
  font-family:var(--fontSansSerif);
  padding: 50px 0 100px;
  line-height: 1.7;
  margin: 0 auto;
}

/* our-journey */
#our-journey {
  position: relative;
  /* background: linear-gradient(var(--colorGreenLight) 40%, var(--colorBeige) 40%); */
  background: linear-gradient(var(--colorGreenLight) 60%, var(--colorBeige) 80%);
  padding: 0 0 100px;
}

#our-journey .hero-images-plus-content {
  width: 960px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  display: flex;
}

#our-journey .images {
  display: flex;
  height: 480px;
}
#our-journey .images .hero {
  width: 360px;
  filter: brightness(110%);
  opacity: 0;
  animation: fadeUp .5s var(--cubicBezier) .33s forwards;
}
#our-journey .images .hero:nth-child(1) {
  animation-delay: 0s
}
#our-journey .images .hero:nth-child(2) {
  animation-delay: .33s
}

#our-journey .stats {
  width: 600px;
  text-align: left;
  margin: 0 auto;
  padding: 10px 0 0 30px;
}
#our-journey .stat {
  padding: 0 0 12px;
}
#our-journey .stat p {
  width: auto;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#our-journey .stats p.stat-pre {
  font-size: 40px;
  font-weight: bold;
}
#our-journey .stats p.stat-post {
  font-size: 15px;
  font-family: var(--fontSerif);
  font-style: italic;
}

#our-journey .floral-1 {
  position: absolute;
  right: 0;
  top: -40px;
}
#our-journey .floral-2 {
  position: absolute;
  left: -20px;
  width: 120px;
  top: 700px;
}
#our-journey .floral-3 {
  width: 160px;
  margin: 200px auto 0;
}
#our-journey .floral-4 {
  width: 300px;
  position: absolute;
  right: 0;
  bottom: -150px;
}

/* details */
#details .cols {
  margin: 0 auto;
  width: 70%;
  display: flex;
}
#details .cols .col {
  width: 33.33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#details .cols .col .material-icons {
  margin-bottom: 20px;
  color: var(--colorGreenLight);
}
#details .cols .col h4 {
  font-size: 18px;
  font-family: var(--fontSansSerif);
  margin-bottom: 40px;
}
#details .cols .col p {
  width: 80%;
  padding: 0;
}
#details .cols .col p strong {
  font-weight: bold;
}
#details .cols .col a {
  display: block;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--fontSansSerif);
  text-transform: uppercase;
  color: var(--colorGreen);
  border: 1px solid var(--colorGreen);
  border-radius: 4px;
  text-decoration: none;
  margin: 20px auto 100px;
  transition: all 0.2s var(--cubicBezier);
}
#details .cols .col a:hover {
  border-color: var(--colorGreen);
  background: var(--colorGreen);
  color: var(--colorBeige);
}

/* registry */
#registry {
  position: relative;
}
#registry p {
  padding-top: 0;
}
#registry .floral-5 {
  position: absolute;
  left: -80px;
  bottom: -75px;
  width: 275px;
  transform: rotate(25deg);
}

/* footer */
#footer {
  padding: 50px;
  margin: 0 auto;
  background: var(--colorBeige);
}
#footer p {
  margin: 0 auto 20px;
  padding: 0;
}
#footer a {
  width: 160px;
  display: block;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--fontSansSerif);
  text-transform: uppercase;
  color: var(--colorGreen);
  border: 1px solid var(--colorGreen);
  border-radius: 4px;
  text-decoration: none;
  margin: 0 auto;
  transition: all 0.2s var(--cubicBezier);
}
#footer a:hover {
  border-color: var(--colorGreen);
  background: var(--colorGreen);
  color: var(--colorBeige);
}

@media only screen and (max-width: 600px) {
  body {
    background-position: center 210px;
    background-size: 300px;
  }
  .header {
    padding: 60px 0;
  }
  .header h1 {
    font-size: 24px;
  }
  .header .floral {
    height: 360px;
  }
  .header-post {
    margin: 0 auto 200px;
  }
  .nav {
    bottom: 0;
    top: auto;
    width: 100%;
    left: 0;
    background: var(--colorBeige);
    display: flex;
    opacity: 1;
    border-top: 1px solid var(--colorGreenLight);
  }
  .nav a {
    font-size: 14px;
    width: 20%;
    text-align: center;
    padding: 15px;
    margin: 0;
  }
  #our-journey .images {
    width: auto;
  }
  .section h3 {
    padding: 30px 0;
    font-size: 28px;
  }
  .section p {
    font-size: 12px;
    width: auto;
    padding: 50px 0 85px;
  }
  #our-journey .hero-images-plus-content {
    width: auto;
    display: block;
  }
  #our-journey .images {
    width: 100%;
    height: auto;
  }
  #our-journey .images .hero {
    width: 50%;
  }
  #our-journey .stats {
    width: auto;
    padding: 30px 30px 100px;
  }
  #our-journey .stat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 18px;
  }
  #our-journey .stats p.stat-pre {
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
  }
  #our-journey .stats p.stat-post {
    font-style: normal;
  }
  #our-journey .floral-1 {
    top: -15px;
    width: 100px;
  }
  #our-journey .floral-2 {
    left: 0;
    top: 550px;
    width: 65px;
  }
  #our-journey .floral-3 {
    width: 60px;
    margin: 0;
  }
  #our-journey .floral-4 {
    display: none;
  }
  #our-journey p {
    padding: 15px 10% 30px;
  }
  #details .cols {
    flex-direction: column;
  }
  #details .cols .col {
    width: auto;
  }
  #details .cols .col .material-icons {
    margin-bottom: 10px;
  }
  #details .cols .col h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  #details .cols .col p {
    font-size: 12px;
  }
  #footer a,
  #details .cols .col a {
    height: 30px;
    line-height: 30px;
    margin: 15px auto 30px;
  }
  #details .cols .col-3 {
    margin-bottom: 100px;
  }
  #registry p {
    width: 57%;
  }
  #registry .floral-5 {
    width: 175px;
  }
  #footer {
    padding: 50px 0 100px;
  }
}
