@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

:root {
  --color-light: rgb(245, 245, 245);
  --color-mid: rgb(116, 116, 116);
  --color-dark: rgb(22, 22, 22);
  --font-mono: "JetBrains Mono", monospace, sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@keyframes hideShowHide {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  color: var(--color-mid);
  font-family: var(--font-body);

  /* grid effect */
  // background-size: 40px 40px;
  // background-image:
  //   linear-gradient(to right, var(--color-light) 1px, transparent 1px),
  //   linear-gradient(to bottom, var(--color-light) 1px, transparent 1px);
}

h1 {
  font-size: 8.75rem;
  margin: 0 0 0.25rem;
  letter-spacing: -2px;
  font-family: var(--font-mono);
  font-weight: 800;
  color: var(--color-dark);
  line-height: 100%;
}

h2 {
  font-size: 4.625rem;
  margin: 0 0 0.75rem;
  letter-spacing: -2px;
  font-family: var(--font-mono);
  color: var(--color-dark);
  font-weight: 800;
}

p {
  font-size: 1.2rem;
  line-height: 2;
  margin: 1rem 0;
  color: var(--color-mid);
}

.svg {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: transparent;

  polygon {
    opacity: 0;
    animation: hideShowHide 7.5s ease infinite;
    transition: all 7.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header {
  padding: 3rem 0 3rem 5rem;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-weight: bold;
    font-size: 1.8rem;
  }
}

.theme-switcher {
  position: absolute;
  right: 5rem;
  top: 3rem;
  width: 46px;
  height: 28px;
  background: var(--color-mid);
  border-radius: 14px;
  cursor: pointer;

  &-button {
    width: 20px;
    height: 20px;
    margin: 4px;
    border-radius: 50%;
    transition: .375s;
    background: var(--color-light);
  }

  &__light {
    .theme-switcher-button {
      background: var(--color-light);
      transform: translateX(0);
    }
  }

  &__dark {
    .theme-switcher-button {
      background: var(--color-dark);
      transform: translateX(18px);
    }
  }
}

.content {
  padding: 3rem 0 10rem 5rem;
  background: var(--color-light);
}

.section {
  max-width: 800px;
  margin: 0 0 4rem;

  ul {
    margin: 1rem 0;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li {
      display: flex;
      list-style: none;
    }
    
    a {
      display: flex;
      padding: 0.625rem 1.625rem;
      margin-right: 1rem;
      background: var(--color-dark);
      border: 2px solid transparent;
      color: var(--color-light);
      font-weight: bold;
      transition: all .2s ease-in;
      font-size: 1rem;

      &:hover {
        background: transparent;
        color: var(--color-dark);
        border-color: var(--color-dark);
      }
    }
  }
}


[data-theme="dark"] {
  background-color: var(--color-dark);
  
  /* grid effect */
  // background-image:
  //     linear-gradient(to right, rgb(12, 12, 12) 1px, transparent 1px),
  //     linear-gradient(to bottom, rgb(12, 12, 12) 1px, transparent 1px);

  h1, h2 {
    color: var(--color-light);
  }
  .content {
    background: rgb(12, 12, 12);
  }
  .section ul a {
    background: var(--color-mid);
    color: var(--color-light);

    &:hover {
      background: transparent;
      border-color: var(--color-mid);
      color: var(--color-mid);
    }
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 6.75rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.125rem;
  }
  .content {
    padding: 3rem 5rem 10rem;
  }
  .section {
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 5rem;
  }
  .header {
    max-width: 420px;
    padding: 3rem;
    p {
      margin: 0;
      font-size: 1.375rem;
    }
  }
  .theme-switcher {
    right: 3rem;
  }
  h2 {
    font-size: 2.375rem;
  }
  .content {
    padding: 3rem 3rem 10rem;
  }
  .section {
    max-width: 100%;
    margin: 0 auto 4rem;

    ul a {
      padding: 0.625rem 0.75rem;
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 4.5rem;
  }
  .header {
    max-width: 100%;
  }
}
